header {
	background: #065E52;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.contato {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.contato li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #065E52;
	border-radius: 15px;
}

.navegacao {
	text-decoration: none;
    color: #065E52;
}
.contato li:hover {
	border-color: #FFFFFF;

}

.contato li:active {
	border-color: #065E52;
}

.contato li:hover h2 {
	font-size: 33px;
}

.contato h2 {
	font-size: 30px;
	font-weight: bold;
}

.contato-descricao {
	font-size: 20px;
}

.contato-link {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background:  #065E52;
	padding: 10px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 10px;
}

@media (max-width: 1200px) {
    header {
        width: auto;
    }
    /*.caixa{
        justify-content: center;
    }*/
    .contato {
        flex-direction: row;
        padding: 5%;
    }

    footer {
        width: auto;
    }
}