*{
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
}
.cabecalho {
	background: #065E52;
	padding: 1% 0% 0% 0%;
}

.caixa {
	display:flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

.cabecalho_menu {
	display: flex;
	text-align:right;
	padding: 10% 5% 5% 10%;
}

.cabecalho__menu__link {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	display: inline;
	margin: 0 0 0 3%;
}

.cabecalho__menu__link:hover {
	color: #C78C19;
	text-decoration: underline;
}

.servico {
	width: 75%;
	margin: 0% auto;
	padding: 5% 0%;
}

.servico_conteudo {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0% 1.5%;
	padding: 5% 1.5%;
	box-sizing: border-box; 
	border: 2px solid #000000;
	border-radius: 15px;
}

.servico_conteudo:hover {
	border-color: #C78C19;

}

.servico_conteudo:active {
	border-color: #065E52;
}

.servico_conteudo:hover h2 {
	font-size: 2rem;
}

.servico_conteudo_titulo {
	font-size: 1.75rem;
	font-weight: bold;
}

.servico_descricao {
	font-size: 1rem;
}

.servico_preco {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 10px;
}

.rodape {
	text-align: center;
	background:  #065E52;
	padding: 0% 0% 1% 0%;
}

.copyright {
	color: #FFFFFF;
	font-size: 0.75rem;
}

@media (max-width: 1200px) {
	.caixa {
		flex-direction: column;
		align-items: center;
	}

	.cabecalho_menu {
		padding: 1% 1.5% 1.5% 1%;
	}

    .cabecalho__menu__link {
		display: flex;
		flex-direction: column;
		margin: 1% 0% 0% 1%;
	}

	.servico_conteudo {
		display: flex;
		flex-direction: column;
		width: auto;
		margin: 3% 0%;
	}
    
}