*{
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
}
.cabecalho {
	background: #065E52;
}

.caixa {
	display:flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

.cabecalho_menu {
	display: flex;
	text-align:right;
	padding: 10% 5% 5% 10%;
}

.cabecalho__menu__link {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	text-decoration: none;
	display: inline;
	margin: 0% 0% 0% 3%;
}

.cabecalho__menu__link:hover {
	color: #C78C19;
	text-decoration: underline;
}

.primaria {
	padding: 2% 5%;
	text-align: justify;
	font-size: 1.25rem;
	line-height: 140%;
}

.primaria_titulo {
	text-align: center;
}

.estrategia_negocio {
	font-size: 1.25rem;
	text-align: center;
	font-style: sub;
}

em strong {
	color:#C78C19;
}

.secundaria {
	padding: 0% 10% 2%;
	font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 60px;
}

.secundaria_conteudo {
	width: 35%;
	display: flex;
	flex-direction: column;
	text-align: justify;
}

.secundaria_titulo {
	text-align: left;

}

.secundaria_lista_itens {
	font-weight: bold;
	color:#C78C19;
}

.secundaria_imagem {
	width: 45%;
	border: 3px solid #C78C19;
	border-radius: 15px;
}

.rodape {
	text-align: center;
	background:  #065E52;
	padding: 0% 0% 1% 0%;
}

.copyright {
	color: #FFFFFF;
	font-size: 0.75rem;
}

@media (max-width: 1200px) {
	.caixa {
		flex-direction: column;
		align-items: center;
	}

	.cabecalho_menu {
		padding: 1% 1.5% 1.5% 1%;
	}

    .cabecalho__menu__link {
		display: flex;
		flex-direction: column;
		margin: 2% 0% 0% 2%;
	}

    .secundaria {
        flex-direction: column-reverse;
		gap: 30px;
    }

	.secundaria_conteudo {
		width: 80%;
		text-align: center;
	}

	.secundaria_titulo {
		text-align: center;
	}
}